<div
  class="border-2 w-2/3 mx-auto border-gray-200 my-2 mt-5 rounded p-4"
>
  Optimisez votre quotidien en toute simplicité grâce à notre application
  complète dédiée à la gestion de vos listes de tâches. Ajoutez, modifiez,
  supprimez et suivez vos activités en un instant, pour une productivité sans
  limites et une organisation sans faille. Avec une interface conviviale et des
  fonctionnalités intuitives, notre outil vous accompagne à chaque étape, vous
  permettant ainsi de gagner du temps et de rester concentré sur l'essentiel. Ne
  laissez aucune tâche passer entre les mailles du filet - restez sur la bonne
  voie et atteignez vos objectifs avec facilité!
</div>
