<div class="overflow-x-auto border-2 border-gray-200 m-2 mt-5 w-2/3 mx-auto">
  @if(tasks.length > 0){
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      @for (item of tasks ; track item.title) {
      <tr>
        <td>{{ item._id.substr(0, 5) }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        @if (!item.done) {
        <td class="text-blue-400">Pending</td>
        }
        <td>
          <form>
            <button
              type="submit"
              (click)="deleteTask(item._id)"
              class="border-1 hover:cursor-pointer hover:text-red-400 uppercase"
            >
              delete
            </button>
          </form>
        </td>
        <td class="uppercase border-1 hover:cursor-pointer hover:text-blue-400">
          <a [routerLink]="['/update', item._id]"> update </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @if(tasks.length === 0){
  <div class="text-center text-gray-500 text-xs italic py-5">No tasks found.</div>
  }
</div>
